apiVersion: v1
kind: Secret
metadata:
  name: {{ cloudflare_api_token_secret_name }}
  namespace: {{ cert_manager_namespace }}
type: Opaque
stringData:
  {{ cloudflare_api_token_secret_key }}: "{{ vault_cloudflare_api_token }}"
