apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: {{ letsencrypt_email }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
      - selector:
          dnsZones:
            - {{ primary_domain }}
        dns01:
          cloudflare:
            apiTokenSecretRef:
              name: {{ cloudflare_api_token_secret_name }}
              key: {{ cloudflare_api_token_secret_key }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: {{ letsencrypt_email }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - selector:
          dnsZones:
            - {{ primary_domain }}
        dns01:
          cloudflare:
            apiTokenSecretRef:
              name: {{ cloudflare_api_token_secret_name }}
              key: {{ cloudflare_api_token_secret_key }}
